#dinnerOverviewMain {
	border: 2px solid black;
	border-top: none;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 30px;
}

#dinnerOverviewObjects {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.dinnerOverviewObject {
	height: 200px;
	text-align: right;
}

.priceAtBottom {
	color: #6B0000;
}

.priceFrame {
	margin-top: 5px;
	text-align: right;
	width: 170px;
	padding: 2px;
}

.totalPriceFrame {
	margin-top: 5px;
	text-align: left;
	width: 170px;
	padding: 2px;
}

.hiddenThumbnail {
	width: 170px;
	height: 170px;
	display: table-cell;
	vertical-align: bottom;
	text-align: left;
}

#total {
	border-left: 1px solid black;
}

#dinnerOverviewDivider {
	height: 0px;
	border-top: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}