#backButton {
	width: 30%;
	min-width: 160px;
}

#ingredientsFrame {
	background-color: #FEE387;
	border-bottom: solid 2px black;
	border-left: solid 2px black;
}

#ingredientsTable {
	width: 100%;
	border-top: solid 2px black;
	border-bottom: solid 2px black;
}

#confirmDishButton {
	width: 40%;
	min-width: 100px;
}