#dishChooser {
	background-color: #FEE387;
	border-bottom: 1px solid black;
	padding: 10px;
}

#select_dish {
	text-transform: uppercase;
	border-bottom: 1px solid black;
}

#types {
	margin-left: 30px;
}

#dishList {
	padding-top: 10px;
}

.dishObjectFrame {
	margin-bottom: 40px;
}

.dishDescription {
	font-size: 10px;
	margin-top: 5px;
	width: 170px;
	height: 90px;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}